# Variables de entorno para Next.js. Las variables expuestas al cliente deben empezar con NEXT_PUBLIC_
NEXT_PUBLIC_API_URL=https://api.example.com

# Para variables privadas (no expuestas al cliente) definirlas en Vercel Dashboard sin el prefijo NEXT_PUBLIC_
# SECRET_KEY=...
PNPM_HOME=C:\Users\gsola\AppData\Local\pnpm